RewriteEngine On
#rewrite trang-chu 
RewriteRule ^trang-chu$ index.php
#rewrite gioi-thieu 
RewriteRule ^gioi-thieu$ index.php?controller=about
#rewrite san-pham
RewriteRule ^san-pham$ index.php?controller=hot_product
#rewrite tin-tuc 
RewriteRule ^tin-tuc$ index.php?controller=news
#rewrite map 
RewriteRule ^map$ index.php?controller=map
#rewrite lien-he
RewriteRule ^lien-he$ index.php?controller=contact

#menu trên
#rewrite account index.php?controller=my_account
RewriteRule ^account$ index.php?controller=my_account
#rewrite favorite-product index.php?controller=favorite_product
RewriteRule ^favorite-product$ index.php?controller=favorite_product
#rewrite gio-hang index.php?controller=cart
RewriteRule ^gio-hang$ index.php?controller=cart
#rewrite dang-nhap index.php?controller=login
RewriteRule ^dang-nhap$ index.php?controller=login_customer
#rewrite dang-ky index.php?controller=dangky
RewriteRule ^dang-ky$ index.php?controller=sign_customer
#rewrite dang-xuat index.php?controller=logout_customer
RewriteRule ^dang-xuat$ index.php?controller=logout_customer




#tin-tuc
#rewrite tin-tuc/detail/(.*)/(.*) index.php?controller=news_detail&id=$1
RewriteRule ^tin-tuc/detail/(.*)$ index.php?controller=detail_news&id=$1
#rewrite phan trang
RewriteRule ^tin-tuc/page/(.*)$ index.php?controller=news&p=$1	
#rewrite  detail-category
RewriteRule ^tin-tuc/hotnews/(.*)$ index.php?controller=detail_category&act=$1
#rewrite category tin tuc
RewriteRule ^tin-tuc/act=(.*)/(.*)$ index.php?controller=detail_category&act=$1&id=$2

#san-pham
#rewrite san-pham/detail/(.*)$ index.php?controller=product&id=$1
RewriteRule ^san-pham/detail/(.*)$ index.php?controller=product&id=$1
#rewirte san-pham/category/(.*)$ index.php?controller=category_product&id=$1
RewriteRule ^san-pham/category/(.*)$ index.php?controller=category_product&id=$1
#rewrite san pham/category phân trang
RewriteRule ^san-pham/(.*)/p=(.*)$ index.php?controller=category_product&id=$1&p=$2

#rewrite san-pham/group/(.*)$ index.php?controller=group_product&id=$1
RewriteRule san-pham/group/(.*)$ index.php?controller=group_product&id=$1
#rewrite hot-product phân trang
RewriteRule ^san-pham/page=(.*)$ index.php?controller=hot_product&p=$1

#cart
#rewrite gio-hang 
RewriteRule ^gio-hang/act=(.*)/(.*)$ index.php?controller=cart&act=$1&id=$2
#rewrite xóa toàn bộ sản phẩm
RewriteRule ^gio-hang/act=(.*)$ index.php?controller=cart&act=delete_all

#thanh toán
RewriteRule ^gio-hang/thanh-toan$ index.php?controller=bill

#Rewrite filter
RewriteRule ^filter/pr=(.*)$ index.php?controller=filter_product&pr=$1
#filter phan trang
RewriteRule ^filter/page/pr=(.*)/(.*)$ index.php?controller=filter_product&pr=$1&p=$2
#category
#rewrite category
RewriteRule ^category/(.*)/(.*)$ index.php?controller=group_product&id=$1
#rewrite danh-muc
RewriteRule ^danh-muc/(.*)/(.*)$ index.php?controller=list_product&id=$1

#search
RewriteRule ^search/(.*)/(.*)$ index.php?controller=search&key=$a

#rewrite admin
RewriteRule ^admin$ admin.php

